<%- include("partials/head") %>
<body>
  
  <%- include("partials/navbar") %>
    
    <!-- MAIN CONTENT -->
    <div class="main">
      <% if (posts.length === 0) { %>
      <p>No posts available.</p>
      <% } else { %> <% posts.forEach(post => { %>
      <a href="/post/<%= post._id %>" class="post-link">
        <div class="title-image">
          <div class="post-title">
            <h1><%= post.title %></h1>
          </div>

          <% if(post.image){ %>
          <div class="post-image">
            <img
              src="<%= post.image %>"
              width="150"
              style="height: auto; border-radius: 4px"
            />
          </div>
          <% } %>
        </div>

        <p>
          <span>by</span>
          <span class="post-author">
            <%= post.author ? post.author.name : "Unknown" %>
          </span>
          <span class="post-date">
            <%= post.createdAt.toLocaleDateString("en-US", { month: "short",
            day: "2-digit", year: "numeric" }) %>
          </span>
        </p>
        <hr />
      </a>
      <% }) %> <% } %>
    </div>

    <script>
      const logoutBtn = document.getElementById("logoutBtn");
      const createPostBtn = document.getElementById("createPostBtn");
      const toggleBtn = document.getElementById("profileToggle");
      const dropdown = document.getElementById("profileDropdown");
      const token = localStorage.getItem("token");

      // Show logout button only if user is logged in
      
      if (!token) {
        toggleBtn.style.display = "none";
      }
      // Logout
      logoutBtn.addEventListener("click", () => {
        localStorage.removeItem("token");
        window.location.href = "/login";
      });

      // Create Post check
      createPostBtn.addEventListener("click", (e) => {
        e.preventDefault(); // prevent normal link behavior

        if (token) {
          // logged in
          window.location.href = "/createpost";
        } else {
          // not logged in
          window.location.href = "/login";
        }
      });

      toggleBtn.addEventListener("click", (e) => {
        e.stopPropagation();
        dropdown.classList.toggle("active");
      });
      
      document.addEventListener("click", () => {
        dropdown.classList.remove("active");
      });
      
      dropdown.addEventListener("click", (e) => {
        e.stopPropagation();
      });
    </script>
  </body>
</html>
