<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />
    <title>My Blog</title>
  </head>

  <body>
    <nav class="navbar">
      <div class="nav-left">
        <a href="/" class="logo">
          <img src="/assets/logo.png" alt="" class="logo-img" />crocoreads
        </a>
      </div>

      <div class="nav-right">
        <a href="/createpost" id="createPostBtn" class="nav-btn"> Write </a>
        <button id="logoutBtn" class="nav-btn logout">Logout</button>
      </div>
    </nav>

    <!-- MAIN CONTENT -->
    <div class="main">
      <% if (posts.length === 0) { %>
      <p>No posts available.</p>
      <% } else { %> <% posts.forEach(post => { %>
      <a href="/post/<%= post._id %>" class="post-link">
        <div class="title-image">
          <div class="post-title">
            <h1><%= post.title %></h1>
          </div>

          <% if(post.image){ %>
          <div class="post-image">
            <img
              src="<%= post.image %>"
              width="150"
              style="height: auto; border-radius: 4px"
            />
          </div>
          <% } %>
        </div>

        <p>
          <span>by</span>
          <span class="post-author">
            <%= post.author ? post.author.name : "Unknown" %>
          </span>
          <span class="post-date">
            <%= post.createdAt.toLocaleDateString("en-US", { month: "short",
            day: "2-digit", year: "numeric" }) %>
          </span>
        </p>
        <hr />
      </a>
      <% }) %> <% } %>
    </div>

    <script>
      const logoutBtn = document.getElementById("logoutBtn");
      const createPostBtn = document.getElementById("createPostBtn");

      // Show logout button only if user is logged in
      const token = localStorage.getItem("token");
      if (!token) {
        logoutBtn.style.display = "none";
      }
      // Logout
      logoutBtn.addEventListener("click", () => {
        localStorage.removeItem("token");
        window.location.href = "/login";
      });

      // Create Post check
      createPostBtn.addEventListener("click", (e) => {
        e.preventDefault(); // prevent normal link behavior

        if (token) {
          // logged in
          window.location.href = "/createpost";
        } else {
          // not logged in
          window.location.href = "/login";
        }
      });
    </script>
  </body>
</html>
