<%- include("partials/head") %>

<body>

  <%- include("partials/navbar") %>

    <div class="post-container">
      <h1 class="post-title"><%= post.title %></h1>
      <p>
        <span class="post-author">
          <%= post.author ? post.author.name : "Unknown" %>
        </span>
        <span class="separator"> | </span>
        <span class="post-date">
          <%= post.createdAt.toLocaleDateString("en-US", { month: "short", day:
          "2-digit", year: "numeric" }) %>
        </span>
      </p>

      <% if (post.image) { %>
      <img src="<%= post.image %>" alt="Post Image" class="post-image" />
      <% } %>

      <div class="post-content">
        <p><%= post.content %></p>
      </div>

      <a href="/" class="back-link">← Back to Home</a>
    </div>

    <script>
      const logoutBtn = document.getElementById("logoutBtn");
      const createPostBtn = document.getElementById("createPostBtn");
      const toggleBtn = document.getElementById("profileToggle");
      const dropdown = document.getElementById("profileDropdown");
      const token = localStorage.getItem("token");

      // Hide profile button if not logged in
      if (!token) {
        toggleBtn.style.display = "none";
      }

      // Logout
      logoutBtn.addEventListener("click", () => {
        localStorage.removeItem("token");
        window.location.href = "/login";
      });

      // Create Post check
      createPostBtn.addEventListener("click", (e) => {
        e.preventDefault(); // prevent normal link behavior

        if (token) {
          // logged in
          window.location.href = "/createpost";
        } else {
          // not logged in
          window.location.href = "/login";
        }
      });

      toggleBtn.addEventListener("click", (e) => {
        e.stopPropagation();
        dropdown.classList.toggle("active");
      });
      
      document.addEventListener("click", () => {
        dropdown.classList.remove("active");
      });
      
      dropdown.addEventListener("click", (e) => {
        e.stopPropagation();
      });
    </script>
  </body>
</html>
